.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 10%;
    gap: 80px;
    margin-top: 104px;
    margin-bottom: 104px;
}

.aboutTextContent {
    display: flex;
    flex-direction: row;
    gap: 52px;
    justify-content: flex-start;
}

.textAnimationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 550px;

    img {
        width: 64px;
        height: 64px;
        flex-shrink: 0;
        transition: opacity 0.3s ease-in-out;
    }
}

.textArea {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 24px;
    color: white;
    font-weight: 400;
}

.spaceAnimation {
    font-weight: 700;
    font-size: 30px;
    min-height: 48px;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    color: #F8F5EC;
    user-select: none;
    caret-color: transparent;
}

.highlight {
    color: #89BCD9;
}

.fade-in {
    opacity: 1;
    animation: fadeIn 0.3s ease-in forwards;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

:host ::ng-deep .typed-cursor {
    color: #89BCD9;
    margin-left: 0;
    font-size: 30px;
}


.buttonFirst {
    background-color: #262E34;
    height: 48px;
    width: 134px;
    border: solid 1px #89BCD9;
    color: #89BCD9;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 24px;
}