<section id="about" class="aboutContainer">
    <h2>{{ translations.about.title }}</h2>
    <div class="aboutTextContent">
        <div class="textAnimationContainer">
            <img [src]="currentIcon" [class]="fadeClass" alt="About Me" />
            <span class="spaceAnimation">
                <span class="highlight">{{ translations.about.iAm }}&nbsp;</span><span #typedElement></span>
            </span>
        </div>
        <div class="textArea">
            <span>{{ translations.about.description }}</span>
            <button class="buttonFirst"><a href='#contact'>{{ translations.about.letsTalk }}</a></button>
        </div>
    </div>

</section>