.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 10%;
    gap: 80px;
    margin-top: 104px;
    margin-bottom: 104px;
}

.aboutTextContent {
    display: flex;
    flex-direction: row;
    gap: 52px;
    justify-content: flex-start;
}

.textAnimationContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}

.textArea {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 24px;
    color: white;
    font-weight: 400;
}

.spaceAnimation{
    font-weight: 700;
    height: 100px;
    font-size: 30px;
    width: 350px;
}


.buttonFirst {
    background-color: #262E34;
    height: 48px;
    width: 134px;
    border: solid 1px #89BCD9;
    color: #89BCD9;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 24px;
}