/* Main Container */
.sectionContainer {
  height: calc(100vh - 104px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.FirstHeroSectionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Hero Image Section */
.heroSectionImgContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover .heroCircleBackground {
    transform: rotate(-27deg);
    opacity: 0.9;
  }
}

.heroCircleBackground {
  position: absolute;
  background-image: url('../../assets/hero-section/icons/blue_circle1.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(-45deg);
  top: 0;
  left: 5%;
  width: 85%;
  height: 110%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.heroCircleBackground:hover {
  opacity: 0.9;
  transform: rotate(-27deg);
}

.mainImg {
  width: 650px;
  position: relative;
  z-index: 2;

}

/* Hero Text Section */
.heroSectionTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 40%;
}

/* Hero Logo */
.socialMediaIconsHero {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logoHero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 56px;

  .logoHeroImg {
    width: 56px;
    height: 56px;
    background-image: url('/assets/hero-section/icons/Logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 300ms ease-out;
    display: block;
  }

  &:hover .logoHeroImg {
    background-image: url('/assets/hero-section/icons/logo_hover.svg');
  }
}

/* Hero HEADLINE */
.heroHeadline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
  text-align: center;
}

.heroSectionTitle {
  font-family: 'Anta', sans-serif;
  font-size: 88px;
  font-weight: 400;
}

.goDownHero {
  padding-top: 10%;
  height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;

  >a {
    >svg {
      animation: bounce 1s infinite alternate;

      rect {
        transition: fill 0.4s ease;
        fill: transparent;
      }

      &:hover {
        rect {
          fill: #F8F5EC1F;
        }

        path {
          fill: #89BCD9;
        }

        animation-play-state: paused;
      }
    }
  }

}


.navLine {
  width: 2px;
  height: 40px;
  background-color: #FFFFFF;
}

.navLine {
  background-color: #89BCD9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 104px;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}

.nameLogoSmall {
  color: #F8F5EC;
  font-family: 'Anta', sans-serif;
  font-size: 16px;
}

.specificationLogo {
  color: #89BCD9;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

.specificationLogoSmall {
  color: #262E34;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 92px;
}

.navLinks a {
  color: #262E34;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 26px;
  font-weight: 500;
}

.navLinks a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #F1F0EA;
}

.languageSwitch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.languageSwitch a {
  color: #262E34;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 26px;
  font-weight: 500;
}

.languageSwitch a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #F1F0EA;
}

.emailHover:hover svg {
  circle {
    fill: #89BCD9;
  }

  path,
  rect {
    stroke: #262E34;
  }
}

.gitHubHover:hover svg {
  circle {
    fill: #89BCD9;
  }

  path {
    fill: #262E34 !important;
  }
}

@media (max-width: 1180px) {
  .heroSectionTitle {
    font-size: 48px;
  }

  h3 {
    font-size: 24px;
  }

  .navLinks a {
    font-size: 20px;
  }

  .languageSwitch a {
    font-size: 20px;
  }
}

@media (max-width: 980px) {
  .FirstHeroSectionContainer {
    flex-direction: column;
  }

  .heroSectionTextContainer {
    display: none;
  }
}