@import '../../styles.scss';

@mixin flex-center($direction: row, $gap: null) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
  @if $gap != null {
    gap: $gap;
  }
}

h2 {
  font-size: 54px;
  font-weight: 400;
  color: $primary_color;
}

section {
  display: flex;
  justify-content: center;
  line-height: 120%;
  opacity: 1;
  transition: opacity 0.1s cubic-bezier(0.0, 0.4, 0.165, 1), transform 0.1s ease;
  padding-top: 80px;
  margin-inline: 23px;
}

.arrow-up {
  position: absolute;
  transition: 0.1s all ease-in-out;
  right: 0;
  padding-top: 70px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.contact-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 80px;

  h2 {
    font-family: 'Anta';
    font-size: 54px;
    color: $primary_color;
  }
}

.description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 48px;

  p {
    font-family: 'Josefin Sans';
    font-size: 18px;
    color: $secondary_color;
  }
}

span {
  font-family: 'Josefin Sans';
  font-size: 20px;
  color: $secondary_color;
}

:host ::ng-deep .custom-checkbox p a {
  color: $primary_color !important;
  text-decoration: none;
  transition: 0.1s color ease-in-out;

  &:visited {
    color: $primary_color !important;
  }

  &:hover {
    color: $secondary_color !important;
  }
}

.contact-me-text {
  display: flex;
  justify-content: center;
  width: 50%;
}

.contact-data {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0px 36px;
  width: 50%;
  gap: 16px;
}

.email {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  span {
    font-family: 'Josefin Sans';
    font-size: 20px;
    color: $secondary_color;
  }

  img {
    margin-right: 24px;
  }

  &:hover {
    color: $primary_color;

    span {
      color: $primary_color;
    }
  }

}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: default;

    span {
      color: $primary_color;
    }
  }

  img {
    margin-right: 24px;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.input-data {
  display: flex;
  gap: 16px;
  width: 100%;
}

.form-field {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;

  label {
    position: absolute;
    top: -20px;
    left: 12px;
    background-color: transparent;
    padding: 0 4px;
    font-size: 16px;
    color: $primary_color;
    font-family: 'Josefin Sans';
  }

  input,
  textarea {
    width: 100%;
    background-color: #89BCD912;
    padding: 20px;
    border: 1px solid $primary_color;
    border-radius: 30px;
    font-size: 18px;
    font-family: 'Josefin Sans';
    resize: none;
    color: $secondary_color;
    z-index: 990 !important;

    &:focus {
      outline: none;
      border-color: $primary_color;
      background-color: #F8F5EC1F;
    }
  }

  .error {
    font-family: 'Josefin Sans';
    color: $error_color;
    font-size: 12px;
    margin-top: 4px;
  }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #2D383F inset !important;
  -webkit-text-fill-color: $secondary_color !important;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #3F464B inset !important;
}

.form-field.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 4px;

  input[type='checkbox'] {
    width: 16px;
    height: 16px;
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans';
    font-size: 16px;
    color: $secondary_color;
    position: relative;
    top: 0;
    left: 0;
  }

  .error {
    position: absolute;
    margin-left: 56px;
    font-size: 16px;
    color: $error_color;
    bottom: -40px;
  }
}

button {
  cursor: pointer;
  font-size: 18px;
  font-family: 'Josefin Sans';
  color: $secondary_color;
  border-radius: 30px;
  background-color: $bg_projects;
  border: 1px solid $primary_color;
  padding: 13px 30px;
  transition: 0.1s all ease-in-out;

  &:hover {
    background-color: #89BCD912;
  }

  &.disabled {
    opacity: 0.4;
    border: 1px solid $secondary_color;
  }
}

.custom-checkbox {
  img {
    cursor: pointer;
    width: 28px;
    height: 28px;
    margin-right: 12px;
    object-fit: contain;
    transition: opacity 0.1s ease-in-out;
  }

  p {
    a {
      color: $primary_color !important;
      text-decoration: none;
      transition: 0.1s color ease-in-out;

      &:visited {
        color: $primary_color !important;
      }

      &:hover {
        color: $secondary_color !important;
      }
    }
  }
}

.input-error {
  color: $error_color;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 180px;
}

.arrow-up-mobile {
  display: none;
  transition: 0.1s all ease-in-out;
  cursor: pointer;
  margin-top: 80px;
  margin-bottom: 104px;

  &:hover {
    opacity: 1;
  }

  img {
    width: 30px;
    height: 60px;
  }
}

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: toastFadeInOut 3s ease-in-out forwards;
  background-color: $bg_projects;
  color: $secondary_color;
  font-family: 'Josefin Sans';
  font-size: 20px;
  padding: 32px 48px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  border: 2px solid $primary_color;

  img {
    filter: invert(79%) sepia(74%) saturate(335%) hue-rotate(40deg) brightness(93%) contrast(91%);
    width: 48px;
    height: 48px;
  }
}

@keyframes toastFadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }

  10% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  90% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
}

.toast-content {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 900px) {

  h2 {
    font-size: 32px !important;
    padding-top: 0 !important;
  }

  .arrow-up {
    display: none;
  }

  .description {
    flex-direction: column-reverse;
    margin-bottom: 0 !important;
  }

  .contact-main {
    width: 100%;
  }

  .contact-data {
    flex-direction: column-reverse;
    margin: 0;
    width: auto;

    span {
      font-size: 18px;
    }

    img {
      margin-right: 8px;
    }
  }

  .email {

    padding-bottom: 32px;

    a {
      img {
        margin-right: 13px;
      }

      span {
        font-size: 18px;
      }
    }
  }

  .contact-me-text {
    width: 100%;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 16px;
      font-weight: 400;
    }

    &::after {
      content: "Let us work together!";
      display: block;
      margin: 32px 0;
      font-size: 20px;
      color: $primary_color;
      text-align: center;
      font-family: 'Josefin Sans';
    }
  }

  .input-error {
    display: none;
  }

  .input-data {
    flex-direction: column;
    gap: 0px !important;
  }

  .headline {
    margin-bottom: 32px;
  }

  .form-field {
    margin-bottom: 32px;
  }

  .button-wrapper {
    margin-bottom: 76px;
  }

}

@media (max-width: 1024px) {
  .arrow-up {
    display: none !important;
  }

  .arrow-up-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-wrapper {
    margin-bottom: 0;
  }
}

@media (max-width: 1023px) {
  .responsive-placeholder::placeholder {
    opacity: 0;
  }

  .placeholder-error::placeholder {
    opacity: 0;
  }

  .form-field:not(.checkbox) label,
  .form-field:not(.checkbox) .input-error {
    display: block !important;
  }

  .form-field.checkbox label,
  .form-field.checkbox .error {
    display: flex !important;
    align-items: center;
  }

  .border-error {
    border: 1px solid $error_color !important;
  }
}

@media (min-width: 1024px) {
  .responsive-placeholder::placeholder {
    opacity: 0 !important;
  }

  .form-field label,
  .input-error {
    display: block;
  }

  .border-error {
    border: 1px solid $error_color !important;
  }
}

@media (max-width: 600px) {
  .form-field.checkbox {
    .error {
      bottom: -60px;
    }
  }
}

@media (max-width: 500px) {
  h2 {
    margin: 0;
    padding-top: 80px;
    font-size: 32px !important;
  }
}

@media (max-width: 430px) {
  .form-field.checkbox {
    .error {
      bottom: -120px;
    }
  }
}