<section id="skills" class="skillsContainer">
  <h2>My skills</h2>

  <div class="skillsContent">
    <div class="skillsGrid">
      <div class="skillItem" *ngFor="let skill of skills">
        <img [src]="skill.icon" [alt]="skill.name" />
        <span>{{ skill.name }}</span>
      </div>
    </div>

    <div class="learningSection">
      <p>I am currently learning</p>
      <div class="learningIcons">
        <div class="learningIcon" *ngFor="let skill of learningSkills">
          <img [src]="skill.icon" [alt]="skill.name" />
          <span>{{ skill.name }}</span>
        </div>
      </div>
      <p class="motivationalText">Didn’t find the skill you’re looking for? I’m always motivated to learn new areas and
        expand my expertise. So please don’t hesitate to contact me — I’m excited to develop new skills and take on new
        challenges!
      </p>
    </div>

    <div class="responsiveLearningSection">
      <p class="responsiveLearningSectionHeadline">I am currently learning</p>
    </div>
    <div class="responsiveLearningContainer">
      <div class="responsiveIconContainer">
        <div class="responsiveLearningIcon" *ngFor="let skill of learningSkills">
          <img [src]="skill.icon" [alt]="skill.name" />
          <span>{{ skill.name }}</span>
        </div>
      </div>
      <p class="responsiveMotivationalText">Didn’t find the skill you’re looking for? I’m always motivated to learn new
        areas and expand my expertise. So please don’t hesitate to contact me — I’m excited to develop new skills and
        take on new challenges!
      </p>
    </div>
  </div>

  <button class="buttonSecondary">Let´s talk</button>
</section>