<section id="skills" class="skillsContainer">
  <h2>{{ translations.skills.title }}</h2>

  <div class="skillsContent">
    <div class="skillsGrid">
      <div class="skillItem" *ngFor="let skill of skills">
        <img [src]="skill.icon" [alt]="skill.name" />
        <span>{{ skill.name }}</span>
      </div>
    </div>

    <div class="learningSection">
      <p>{{ translations.skills.currentlyLearning }}</p>
      <div class="learningIcons">
        <div class="learningIcon" *ngFor="let skill of learningSkills">
          <img [src]="skill.icon" [alt]="skill.name" />
          <span>{{ skill.name }}</span>
        </div>
      </div>
      <p class="motivationalText">{{ translations.skills.motivationalText }}</p>
    </div>

    <div class="responsiveLearningSection">
      <p class="responsiveLearningSectionHeadline">{{ translations.skills.currentlyLearning }}</p>
    </div>
    <div class="responsiveLearningContainer">
      <div class="responsiveIconContainer">
        <div class="responsiveLearningIcon" *ngFor="let skill of learningSkills">
          <img [src]="skill.icon" [alt]="skill.name" />
          <span>{{ skill.name }}</span>
        </div>
      </div>
      <p class="responsiveMotivationalText">{{ translations.skills.motivationalText }}</p>
    </div>
  </div>

  <a href="#contact"><button class="buttonSecondary">{{ translations.skills.letsTalk }}</button></a>
</section>