@import '../../styles.scss';

@mixin flex-center($direction: row, $gap: null) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
  @if $gap != null {
    gap: $gap;
  }
}

.skillsContainer {
    @include flex-center(column, 80px);
    padding-inline: 23px;
    margin-top: 104px;
    margin-bottom: 104px;

    h2 {
        font-size: 60px;
        font-weight: 400;
        color: $primary_color;
        margin: 0;
    }
}

.skillsContent {
    display: flex;
    gap: 79px;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.skillsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 40px;
    align-items: start;
}

.skillItem {
    @include flex-center(column, 10px);

    img {
        width: 54px;
        height: 60px;
    }

    span {
        font-size: 18px;
        color: $primary_color;
        font-weight: 400;
        text-align: center;
    }
}

.learningSection {
    width: 375px;
    height: 391px;
    flex-shrink: 0;
    position: relative;
    @include flex-center(column, 19px);
    background-image: url('/assets/skills-section/eclipse_reference.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
        background-image: url('/assets/skills-section/eclipse_reference_hover.svg');
    }

    >p {
        font-size: 18px;
        color: $secondary_color;
        margin: 0;
    }

    .learningIcons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .learningIcon {
        @include flex-center(column, 5px);

        img {
            width: 32px;
            height: 32px;
        }

        span {
            font-size: 16px;
            color: $secondary_color;
            font-weight: 400;
        }
    }

    .motivationalText {
        font-size: 18px;
        color: $secondary_color;
        font-weight: 400;
        text-align: center;
        margin: 0;
        padding: 0 40px;
        line-height: 1.6;
        max-width: 360px;
    }
}

@media (max-width: 1200px) {
    .skillsContent {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .skillsGrid {
        grid-template-columns: repeat(5, 1fr);
        gap: 40px 50px;
    }
}

@media (max-width: 900px) {
    .skillsContainer {
        margin-top: 80px;
        margin-bottom: 80px;
        gap: 40px;

        h2 {
            font-size: 32px;
        }
    }

    .skillsGrid {
        grid-template-columns: repeat(5, 1fr);
        gap: 40px;
    }

    .learningSection {

        h3 {
            font-size: 20px;
        }
    }

    .skillItem {
        img {
            width: 42px;
            height: 45px;
        }

        span {
            display: none;
        }
    }
}

@media (min-width: 480px) {
    .responsiveLearningSection {
        display: none;
    }

    .responsiveLearningContainer {
        display: none;
    }

    .buttonSecondary {
        display: none;
    }
}

@media (max-width: 480px) {

    .skillsContent {
        gap: 0px;
        width: 100%;
    }


    .skillsGrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        max-width: 100%;
    }

    .skillItem {
        flex: 0 0 calc(25% - 30px);
        min-width: 60px;
    }

    .learningSection {
        display: none;
    }

    .responsiveLearningSection {
        align-items: center;
        margin-top: 40px;
        margin-bottom: 32px;
    }

    .responsiveLearningSectionHeadline {
        font-size: 16px;
        color: $primary_color;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .responsiveLearningContainer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 9px;
    }

    .responsiveIconContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../../assets/skills-section/little_circle.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 113px 96px;
        min-width: 113px;
        min-height: 96px;

    }

    .responsiveLearningIcon {
        @include flex-center(column, 5px);

        img {
            width: 32px;
            height: 32px;
        }

        span {
            font-size: 16px;
            color: $secondary_color;
            font-weight: 400;
        }
    }

    .responsiveMotivationalText {
        font-size: 16px;
        line-height: 1.5;
        color: $secondary_color;
        margin: 0;
    }

    .buttonSecondary {
        background-color: $primary_color;
        border: none;
        border-radius: 30px;
        padding-inline: 30px;
        padding-block: 13px;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
        color: $bg_projects;
        font-size: 16px;
        font-weight: 400px;
        cursor: pointer;
        
        >a {
            text-decoration: none;
            color: #262E34;
        }
    }
}