.heroHeadline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 36px;
    text-align: center;
}

.heroSectionTitle {
    font-family: 'Anta', sans-serif;
    font-size: 88px;
    font-weight: 400;
}

.goDownHero {
    padding-top: 10%;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navLine {
    background-color: #89BCD9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 104px;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;position: sticky;
    top: 0;
    width: 100%;
    z-index: 500;
}

.nameLogoSmall {
    color: #F8F5EC;
    font-family: 'Anta', sans-serif;
    font-size: 16px;
}

.specificationLogoSmall {
    color: #262E34;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 92px;
}

.navLinks a {
    color: #262E34;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    font-weight: 500;
}

.navLinks a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #F1F0EA;
}

.languageSwitch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.languageSwitch a {
    color: #262E34;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    font-weight: 500;
}

.languageSwitch a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #F1F0EA;
}

.logoHero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 56px;
}