@import '../../../styles.scss';

@mixin flex-center($direction: row, $gap: null) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
  @if $gap != null {
    gap: $gap;
  }
}

.heroHeadline {
    @include flex-center(column);
    padding-top: 36px;
    text-align: center;
}

.heroSectionTitle {
    font-family: 'Anta', sans-serif;
    font-size: 88px;
    font-weight: 400;
}

.navLine {
    background-color: $primary_color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 104px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 500;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding-left: calc(50vw - 50% + 5%);
    padding-right: calc(50vw - 50% + 5%);

    >a {
        text-decoration: none;
    }
}

.nameLogoSmall {
    color: $secondary_color;
    font-family: 'Anta', sans-serif;
    font-size: 16px;
}

.specificationLogoSmall {
    color: $bg_projects;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 92px;
}

.navLinks a {
    color: $bg_projects;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    font-weight: 500;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.navLinks a:hover {
    cursor: pointer;
    text-decoration: none;
    color: $secondary_color;
}

.navLinks a.active {
    color: $secondary_color;
}

.link-text {
    position: relative;
    z-index: 2;
}

.active-indicator {
    width: 80px;
    height: auto;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    pointer-events: none;
}

.languageSwitch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.languageSwitch a {
    color: $bg_projects;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    @include flex-center(row);
}

.languageSwitch a:hover {
    cursor: pointer;
    color: $secondary_color;
}

.languageSwitch a.active {
    color: $secondary_color;
}

.language-indicator {
    width: 36.8px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(2.14deg);
    z-index: -1;
    pointer-events: none;
}

.languageSwitch a:hover {
    cursor: pointer;
    text-decoration: none;
    color: $secondary_color;
}

.logoHero {
    @include flex-center(column);
    width: 56px;
}

@media (max-width: 1200px) {

  .navLinks a {
    font-size: 20px;
  }

  .languageSwitch a {
    font-size: 20px;
  }

  .navLinks {
    gap: 40px;
    font-size: 16px;
  }
}

@media (max-width: 739px) {

  .navLine{
    display: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 5%;
    padding-right: 5%;
  }
}