/* Container optional */
.legal-notice {
    line-height: 1.6;
    margin-block: 65px;
    margin-inline: 100px;
}

.legal-notice h2{
    font-size: 24px;
    color: #89BCD9;
    font-weight: 700;
    margin-bottom: 16px;
}

/* Headline "Legal notice" */
.legal-notice h1 {
    font-size: 54px;
    color: #89BCD9;
    font-weight: 700;
    margin-bottom: 20px;
}

/* Alle Überschriften */

.legal-notice h3,
.legal-notice h4,
.legal-notice h5,
.legal-notice h6 {
    color: #89BCD9;
    font-size: 19px;
    font-weight: 700;
    margin-top: 25px;
}

/* Normaler Text */
.legal-notice p,
.legal-notice li {
    font-size: 16px;
    font-weight: 400;
    color: #F8F5EC;
}

/* Fettgedruckte Wörter */
.legal-notice strong {
    color: #89BCD9;
}

@media (max-width: 900px) {
    .legal-notice {
        margin-inline: 23px;
    }

    .legal-notice h1 {
        font-size: 32px;
    }
}