$bg_projects: #262E34;
$primary_color: #89BCD9;
$secondary_color: #F8F5EC;
$inactive_color: #262E341F;
$error_color: #E44C36;
$done_color: #97E163;

* {
  margin: 0;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  font-family: "Josefine", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 120px;
}

body {
    background-color: $bg_projects;
}

/* Center and limit main content to 1440px on wide screens */
app-root {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

h1 {
    font-size: 88px;
    color: $secondary_color;
    font-family: 'Anta';
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
    color: $primary_color;
    font-family: 'Anta';
    font-size: 60px;
    font-weight: 400;
}

h3 {
    color: $secondary_color;
    font-size: 40px;
    font-weight: 400;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.fontAnta {
    font-family: 'Anta', sans-serif;
}

.fontJosefine {
    font-family: 'Josefine', sans-serif;
}

@font-face {
  font-family: 'Anta';
  src: url('/assets/fonts/Anta/Anta-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefine';
  src: url('/assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefine';
  src: url('/assets/fonts/Josefin_Sans/static/JosefinSans-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
