@import '../../../styles.scss';

.footer-section {
  background-color: $primary_color;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding-left: calc(50vw - 50% + 5%);
  padding-right: calc(50vw - 50% + 5%);
}

footer {
  font-family: 'Josefin Sans';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 214px;
  font-size: 18px;

  a {
    text-decoration: none;
    color: $bg_projects;
    transition: 0.1s all ease-in-out;

    &:hover {
      color: $secondary_color;
    }
  }

  p {
    color: $bg_projects;
    font-size: 18px;
    margin: 0;
  }
}

.left-section-wrapper {
  opacity: 1;
  transition: opacity 0.1s cubic-bezier(0.0, 0.4, 0.165, 1), transform 0.1s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.legal-notice-mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
}

.link-wrapper {
  img {
    margin: 0 8px;
  }
}

.link-wrapper-mobile {
  display: none;
}

.logoHero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 32px;

  .logoHeroImg {
    width: 56px;
    height: 56px;
    display: block;
    transition: all 100ms ease-out;
  }

  .nameLogo {
    font-family: 'Anta', sans-serif;
    font-size: 16px;
    color: $secondary_color;
  }

  .specificationLogo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: $bg_projects;
    font-weight: 300;
  }
}

.logoHero:hover .nameLogo {
  color: $secondary_color;
}
.logoHero:hover .specificationLogo {
  color: $secondary_color;
}

@media (max-width: 739px) {
  .footer-section {
    width: 100%;
    height: 243px;
  }

  .logoHero{
    padding-top: 30px;
  }

  .legal-notice-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footer-content {
    flex-direction: column;
  }

  .left-section-wrapper {
    display: none;
  }

  .link-wrapper {
    display: none;
  }

  .link-wrapper-mobile {
    display: flex;

    img {
      margin: 0 12px;
    }

    a {
      cursor: pointer;
      &:hover {
        color: inherit;
      }
    }
  }

  .legal-notice-mobile {

    a,
    p {
      font-size: 16px;
      padding: 16px 0;
    }
  }
}